# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/

# API keys
.gemini_api_key
*.key
*.json

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# PDF output
*.pdf
*/output/
